/*
Estilos sitio web replica
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Sans:wght@100;400;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Roboto Sans', sans-serif;
}

.container{
    max-width: 100%;
    margin: 50px 10% 0px;
}

button {
    background-color: rgb(246, 25, 25);
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-weight: 700;
}
button:hover{
    cursor: pointer;
}

input[type="email"] {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    outline: none;
}

h1 {
    font-size: 4em;
    margin: 0;
    font-weight: 900;
}

h1 img {
    width: 40px;
    margin-left: 5px;
}

h2 {
    font-size: 4em;
    margin: 0;
    font-weight: 300;
}

p {
    color: rgb(113, 113, 113);
}

header {
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
}

nav{
    flex: 1;
    margin: 0px 20px;
}

nav ul {
    border: 0px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    float: right;
}

nav ul li {
    list-style: none;
/*    float: left; */
    margin: 5px 10px;
}

nav ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    color: gray;
}

nav ul li a :hover{
    color: #f44336;
    cursor: pointer;
}
article {
    margin-top: 15px;
}
.box-first {
    margin-top: 30px;
    padding: 13% 0;
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.box-middle {
    margin: 0px;
    padding: 13% 0;
    background-image: url(../images/img2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.box-last {
    margin: 0px;
    padding: 25% 0;
    background-image: url(../images/img3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
form {
    display: flex;
    margin: 10px;
}

.shop-buttons{
    display: flex;
    margin: 10px;
}

.shop-buttons div{
    margin-right:20px;
}
.shop-buttons div img{
    width: 160px;
}

.box-first p{
    width: 50%;
    text-align: justify;
}

.blod {
    font-weight: 900;
}

.box-center {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.content-text {
    margin: 0 15%;
    text-align: center;
}

h3 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
}

.content-text h3 img {
    width: 50px;
    vertical-align: middle;
}

side-right
 {
    flex: 1;
}

side-right div {
    width: 50%;
    margin-left: 40%;
}

.row {
    display: flex;
    margin: 0;
}

.item {
    margin: 0;
}

.item img {
    width: 60px;
    margin: 0;
}

.box-last p {
    width: 50%;
    text-align: justify;
}